.resetbtn, .micIco:before, .mic-pop i + a:after, .mic-pop a + a:after, .resultLink .tag-original:after, .nextpage span:after, .adLink:after, .hint .txt-change:before, .hint .txt-hot:after, .english-recommend:after, .tips-new:before, .more-box-new .line-whole:after, .slide-down:after, .box-pageview .btn-prev:before, .box-pageview .btn-next:before, .tab-base .scroll-left:before, .tab-base .scroll-right:before, .box-select .btn-select:after, .box-select-default:after, .box-input .input-close:before, .box-input .search-base:after, .mes-text:before, .star-layout i:before, .video-play:before, .item-check i:before, .special-title a:after, .mid-btn i, .box-list-step .btn-step i:after, .list-step-title a:after, .page-fixed .content-toggle .show:after, .page-fixed .content-toggle .hidden:after, .page-back:after, .suggestion .sugg-arrow span:after, .suggestion .sugg-del span:after, .suggestion .sugg-img-flex .sub-field .arrow:after, .suggestion .sugg-list h3:after, .vr-zhihu160815 .tag:after, .rumours-type:before, .str-posimg-p1 a:after, .str-tlico:after, .str-trico:after {
    font-family: 'iconfont' !important;
}
@font-face {
    font-family: 'iconfont';
    src: url("../../font/iconfont.ttf?v=9") format("truetype"), url("../../font/iconfont.svg?v=9#iconfont") format("svg");
}

.iconfont {
    font-family: 'iconfont' !important;
    font-style: normal;
}
.result, .reswrap, .adLink, .ad_result, .aside .hint, .aside .land-hot, .per-hint, .vrResult, .vr-recommend {
     margin-bottom: 10px;
     padding: 12px 17px;
     background: #fff;
 }
.citeurl, .ec_ad_results .Bd_ad_frame .abs, .resultLink, .box-translation .btn-translation, .more-box-new a, .more-box-new span, .slide-down, .box-pageview .page, .box-pageview .btn-prev, .box-pageview .btn-next, .article-layout .article-title, .article-time, .article-list, .article-list2 .article-title, .article-list2 .list-time, .title-cite, .page-fixed .resultLink, .space-txt {
    padding-top: 3px;
    padding-bottom: 3px;
}
h1, h2, h3, h4, h5, h6, ul, li, body, dl, ol, dt, dd, td, img, th, p, form, div, input {
    margin: 0;
    padding: 0;
}
.hint li a, .land-hot li a, .per-hint a, .vrResult .vr-tit .vr-tove, .box-translation .citeurl, .sel-text, .tab-base li span, .sub-tab li span, .box-select .select-text, .box-select .option-list li, .box-input .option-list li, .ellipsis, .text-layout h4, .article-layout .article-title, .article-block .article-title, .mes-text, .star-flex, .word-list-common .btn-import, .suggestion .sugg-img-flex .lottery-test, .vr-wiki171115 .more-box-new .part-left, .vr-zhihu160815 .mold-div, .vr-official .item-title, .vr-official .link-base a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: normal;
}
body {
    background: #fff;
    font-size: 14px;
    font-family: Arial, 'Microsoft YaHei, SimHei', Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    font-size-adjust: none;
    color: #555;
    word-break: break-all;
    word-wrap: break-word;
}
.mainBody {
    padding: 10px 0 0;
    background: #f1f1f1;
}
.vrResult:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a {
    color: #000;
    text-decoration: none;
}
.resultLink {
    display: block;
    color: #aaa;
    font-size: 19px;
    line-height: 27px;
}
a.resultLink {
    color: #000;
}
.resultLink:visited {
    color: #aaa;
}
em {
    font-style: normal;
}
a em, em {
    color: #e22b00;
}
.line-clamp{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp : 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.tag-official{
    background: #6bbd7a;
    color: #fff;
    font-size : 12px;
    padding : 0 3px;
    margin-left: 4px;
    height: 16px;
    line-height: 16px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: -2px;
}
.img-layout{
    width : 26%;
    float: left;
    margin-right: 12px;
    margin-bottom : 8px;
}
.img-layout i {
    position: relative;
    width : 100%;
    padding-bottom: 100%;
    height : 0;
    display: block;
}
.img-layout i img{
    width: 100%;
    height :100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.text-layout h4 {
    font-size: 16px;
    line-height: 25px;
    color: #000;
    margin-bottom: 3px;
}
.text-layout h4.clamp2 {
    white-space: normal;
}
.clamp2{
    display: -webkit-box;
   text-overflow: ellipsis;
    -webkit-line-clamp : 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.flex-reverse .img-layout{
    float: right;
}
.space-between{
    position : relative ;
}
.space-between:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility : hidden;
}
.space-between .text-layout{
    float: left;
}
.space-between span{
    position : absolute ;
    bottom : 0;
    right:26%;
}
.list-img-flex .img-flex{
    display: block;
     padding-top: 8px;
}
.list-img-flex .img-flex:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility : hidden;
}
.list-img-flex .space-default{
    padding-top: 8px;
    padding-bottom: 8px;
}
.list-img-flex .space-default:first-child {
    padding-top: 0;
}
.list-img-flex .space-default + .space-default {
    border-top: solid 1px #f1f1f1;
}
.border-top{
    border-top : solid 1px #f1f1f1 ;
    margin-top : 8px;
    padding-top : 8px; 
}
.more-box-new .line-whole{
    position: relative;
    padding-right: 14px;
    text-align: right;
}
.more-box-new a{
    color: #555;
    display: block;
    min-width: 75px;
    overflow: hidden;
    line-height: 23px;
}
.more-box-new .line-whole:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    display: block;
    content: '\e664';
    font-weight: bold;
    font-size: 11px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.scroll-layout-pic .item-list {
    margin-left: -10px;
}
.scroll-layout-pic .item-text{
    float : left;
    padding-left: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.scroll-layout-pic .img-height{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    display: block;
    overflow : hidden;
    background: #f5f5f5 url(../../images/img-error.png) center center no-repeat;
}
.scroll-layout-pic .img-height img{       
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.scroll-layout-pic .item-title{
    line-height: 23px;
    max-height: 46px;
    margin-right: 5px;
    color: #000;
    overflow: hidden;
} 
.img-height + .item-title {
    margin-top: 5px;
}
.scroll-layout-pic .item-time{
    display: block;
    color: #aaa;
    line-height: 23px;
    margin-right: 5px;
}
.scroll-layout-pic .about-tag{
    position: absolute;
    bottom : 5px;
    left : 5px;
    color : #fff;
    background: rgba(0, 0, 0, 0.5);
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    border-radius: 9px;
}
.scroll-layout-pic .video-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;
    text-align: center;
}
.scroll-layout-pic .video-play:before{
    display: block;
    position: relative;
    z-index: 6;
    content: '\e619';
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    margin: 0 auto;
    border-radius: 100px;
}
.scroll-layout-pic .video-play:after{
    display: block;
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 60%;
}
.box-scrollbar .img-height{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    display: block;
    overflow : hidden;
    background: #f5f5f5 url(../../images/img-error.png) center center no-repeat;
}
.box-scrollbar  .img-height img{       
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.item-list:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility : hidden;

}
.scroll-layout-alone{
    overflow-y: hidden;
    overflow-x: scroll;
    box-sizing: border-box;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
}
.scroll-layout-alone .item-text{
    margin-right: 10px;
    float: left;
    width: 23%;
    overflow: hidden;
    display: block;
}
.negative, .page-fixed .vrResult, .bottom-tab {
    margin-left: -17px;
    margin-right: -17px;
}
